@page
@model Mystore.Pages.RegisterModel
@{
}

<h3>Register</h3>

<div class="col-6">
    <form method="post">
        @Html.AntiForgeryToken()
        Username:
        <input name="fieldAccount" type="text" class="form-control" />
        <br />
        Password:
        <input name="fieldPwd" type="password" class="form-control" />
        <br />

        @if (@Model.Msg.Length > 0)
        {
            <div class="alert alert-warning alert-dismissible fade show role='alert'">
                <strong>@Model.Msg</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        <button type="submit" asp-page-handler="Register" class="btn btn-primary">OK</button>


    </form>
</div>